<div
  class="col-md-12 geodash-filter geodash-filter-slider"
  style="min-height: {{ filter.ui.height }};">
  <div class="geodash-filter-label">
    <a
      class="geodash-intent"
      data-intent-name="toggleModal"
      data-intent-data="{&quot;id&quot;:&quot;geodash-modal-filter-more&quot;,&quot;static&quot;:{&quot;tab&quot;:&quot;modal-filter-more-general&quot;},&quot;dynamic&quot;:{&quot;value&quot;:[&quot;state&quot;,&quot;filters&quot;,&quot;popatrisk&quot;,&quot;{{ filter.output }}&quot;],&quot;filter&quot;:[&quot;map_config&quot;,&quot;featurelayers&quot;,&quot;popatrisk&quot;,&quot;filters&quot;,&quot;{{ $index }}&quot;]}}"
      data-intent-ctrl="geodash-map-filter">
      <i class="fa fa-info-circle"></i>
    </a>
    <span ng-bind-html="filter.title | md2html"></span> :
  </div>
  <div style="display:table; height:{{ filter.ui.height }};padding-left:10px;padding-right:10px;">
    <div style="display:table-cell;vertical-align:middle;">
      <div class="geodash-filter-slider-label">Placeholder</div>
      <div
        class="geodash-filter-slider-slider"
        style="width:{{ filter.ui.slider.width }};"
        data-layer="{{ filter.layer }}"
        data-type="{{ filter.ui.slider.type }}"
        data-value="{{ filter.ui.slider.value ? filter.ui.slider.value : '' }}"
        data-values="{{ filter.ui.slider.values ? filter.ui.slider.values : '' }}"
        data-range="{{ filter.ui.slider.range == 'true' ? 'true': filter.ui.slider.range }}"
        data-output="{{ filter.output }}"
        data-min-value="{{ filter.ui.slider.min|default_if_undefined:'' }}"
        data-max-value="{{ filter.ui.slider.max|default_if_undefined:'' }}"
        data-step="{{ filter.ui.slider.step ? filter.ui.slider.step : '' }}"
        data-options="{{ filter.ui.slider.options ? filter.ui.slider.options : '' }}"
        data-label-template="{{ filter.ui.slider.label }}"
        ></div>
    </div>
  </div>
</div>
