<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
      <h4 class="modal-title" id="myModalLabel">Filter / {{ filter.label }}</h4>
    </div>
    <div class="modal-body">
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li
            role="presentation"
            class="active">
            <a
              href="#modal-filter-more-general"
              aria-controls="modal-filter-more-general"
              role="tab"
              data-toggle="tab"
              style="padding-left:8px; padding-right: 8px;">General</a>
          </li>
          <li
            ng-if="filter.type == 'checkbox' && filter.checkbox.options"
            role="presentation"
            class="">
            <a
              href="#modal-filter-more-options"
              aria-controls="modal-filter-more-options"
              role="tab"
              data-toggle="tab"
              style="padding-left:8px; padding-right: 8px;">Options</a>
          </li>
          <li
            ng-if="filter.type == 'slider' && filter.slider.options"
            role="presentation"
            class="">
            <a
              href="#modal-filter-more-options"
              aria-controls="modal-filter-more-options"
              role="tab"
              data-toggle="tab"
              style="padding-left:8px; padding-right: 8px;">Options</a>
          </li>
        </ul>
        <div class="tab-content">
          <div
            id="modal-filter-more-general"
            class="tab-pane fade in active"
            role="tabpanel"
            style="padding: 10px;">
            <span ng-bind-html="filter.description | md2html | default:'No description given.'"></span>
            <br><br><b>Type:</b> {{ filter.type }}
            <div
              ng-if="filter.type =='slider' && filter.slider.type == 'continuous'">
              <b>Minimum Value:</b> <span ng-bind-html="filter.slider.min | formatInteger:'delimited':' '"></span>
            </div>
            <div
              ng-if="filter.type =='slider' && filter.slider.type == 'continuous'">
              <b>Maximum Value:</b> <span ng-bind-html="filter.slider.max | formatInteger:'delimited':' '"></span>
            </div>
            <div
              ng-if="filter.type =='slider' && filter.slider.type == 'ordinal'">
              <b>Minimum Value:</b> <span ng-bind-html="filter.slider.options | first"></span>
            </div>
            <div
              ng-if="filter.type =='slider' && filter.slider.type == 'ordinal'">
              <b>Maximum Value:</b> <span ng-bind-html="filter.slider.options | last"></span>
            </div>
            <hr>
            <div
              ng-if="filter.type =='slider' && filter.slider.type == 'ordinal'">
              <b>Current Value:</b> <span ng-bind-html="value"></span>
            </div>
            <div
              ng-if="filter.type =='slider' && filter.slider.type == 'continuous'">
              <b>Current Value:</b> <span ng-bind-html="value | join:' - '"></span>
            </div>
            <div
              ng-if="filter.type =='checkbox'">
              <b>Current Value:</b> <span ng-bind-html="value | formatArray"></span>
            </div>
          </div>
          <div
            ng-if="filter.type == 'checkbox' && filter.checkbox.options"
            id="modal-filter-more-options"
            class="tab-pane fade"
            role="tabpanel"
            style="padding: 10px;">
            <span
              ng-repeat-start="option in filter.checkbox.options track by $index">
              <i ng-class="option.checked ? 'fa fa-check-square-o' : 'fa fa-square-o'"></i>
              <b ng-bind-html="option.label"></b>:
              <span ng-bind-html="option.description | default_if_undefined:'No description given'"></span>
            </span>
            <br>
            <br ng-repeat-end>
          </div>
          <div
            ng-if="filter.type == 'slider' && filter.slider.options"
            id="modal-filter-more-options"
            class="tab-pane fade"
            role="tabpanel"
            style="padding: 10px;">
            <span
              ng-repeat-start="option in filter.slider.options track by $index">
              <i ng-class="option.checked ? 'fa fa-check-square-o' : 'fa fa-square-o'"></i>
              <b ng-bind-html="option"></b>
            </span>
            <br ng-repeat-end>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
