<div
  id="geodash-sidebar-left"
  class="geodash-sidebar geodash-sidebar-left geodash-controller sidebar-open sidebar-left-open">
  <div style="width:100%;">
    <div class="geodash-sidebar-header">
      <div class="geodash-sidebar-header-left">
        <a href="/"><img ng-src="{{ ui.header.logo.src }}" alt="{{ ui.header.logo.alt }}"></a>
      </div>
      <div class="geodash-sidebar-header-right">
        <div><a class="geodash-sidebar-header-title" href="/" ng-bind-html="ui.header.title"></a></div>
        <div><a class="geodash-sidebar-header-subtitle" href="/" ng-bind-html="ui.header.subtitle"></a></div>
      </div>
      <div class="geodash-sidebar-header-right-2">
        <div ng-bind-html="state.country_title"></div>
      </div>
    </div>
    <div>
      <div class="input-group">
        <span class="input-group-addon" id="country-addon">Country</span>
        <input
          id="country-input"
          name="country-input"
          type="text"
          class="typeahead form-control"
          style="height: auto;"
          placeholder="Country (e.g., Haiti or Philippines)"
          aria-describedby="country-addon"
          data-placeholder="Country (e.g., Haiti, Nepal, or Philippines)"
          data-typeahead-datasets="Countries"
          data-initial-value="{{ {'id': state.iso3, 'text': state.country_title } | json }}"
          data-target-scope-id="geodash-sidebar-left"
          data-target-scope-path="country"
          data-search-output="id"
          data-template-empty="<div class=&quot;alert alert-danger empty-message&quot;>Unable to find country</div>">
          <div
            class="input-group-addon btn btn-primary btn-show-options"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Show Options"
            ng-click="showOptions('#country-input')">
            <i class="fa fa-chevron-down"></i>
          </div>
          <div
            class="input-group-addon btn btn-danger geodash-clear"
            data-toggle="tooltip"
            data-placement="bottom"
            data-container="#geodash-sidebar-left"
            title="Clear Selection"
            data-target-input-id="country-input">
            <i class="fa fa-times"></i>
          </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="hazard-addon">Hazard</span>
        <input
          id="hazard-input"
          name="hazard-input"
          type="text"
          class="typeahead form-control"
          style="height: auto;"
          placeholder="Hazard (e.g., Flood, Cyclone, Drought, or Landslide)"
          aria-describedby="hazard-addon"
          data-placeholder="Hazard (e.g., Flood, Cyclone, Drought, or Landslide)"
          data-typeahead-datasets="Hazards"
          data-initial-value="{{ {'id': state.hazard, 'text': state.hazard_title } | json }}"
          data-target-scope-id="geodash-sidebar-left"
          data-target-scope-path="hazard"
          data-search-output="id"
          data-template-empty="<div class=&quot;alert alert-danger empty-message&quot;>Unable to find hazard</div>">
          <div
            class="input-group-addon btn btn-primary btn-show-options"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Show Options"
            ng-click="showOptions('#hazard-input')">
            <i class="fa fa-chevron-down"></i>
          </div>
          <div
            class="input-group-addon btn btn-danger geodash-clear"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Clear Selection"
            data-target-input-id="hazard-input">
            <i class="fa fa-times"></i>
          </div>
      </div>
      <ul class="nav nav-justified welcome-go">
        <li>
          <a
            ng-disabled="country == undefined || hazard == undefined || country == '' || hazard == '' || (country == state.iso3 && hazard == state.hazard)"
            ng-class="country == undefined || hazard == undefined || country == '' || hazard == '' || (country == state.iso3 && hazard == state.hazard) ? 'btn btn-default' : 'btn btn-primary' "
            ng-href="{{ country == undefined || hazard == undefined || country == '' || hazard == '' || (country == state.iso3 && hazard == state.hazard) ? '#' : '/country/'+country+'/hazard/'+hazard +'/month/1' }}">Change</a>
        </li>
      </ul>
    </div>
    <hr>
    <div geodash-tabs></div>
    <div class="tab-content">
      <div
        id="geodash-sidebar-left-welcome"
        role="tabpanel"
        class="geodash-sidebar-pane tab-pane fade in active">
        <div
          ng-bind-html="dashboard.welcome.intro | md2html">
        </div>
      </div>
      <div
        id="geodash-sidebar-left-charts"
        role="tabpanel"
        class="geodash-sidebar-pane tab-pane fade"
        style="padding: 24px 24px 50px 24px;overflow-y: scroll; height: calc(100% - 300px);">
        <div
          ng-repeat="chart in dashboard.sidebar.ui.charts track by $index"
          on-repeat-done="chart_done"
          data-repeat-index="{{ $index }}"
          id="geodash-sidebar-left-charts-chart-{{ chart.id }}">
          <div>
            <h6
              style="text-align:center;"
              ng-bind-html="chart.title | md2html"></h6>
          </div>
          <div
            id="{{ chart.element }}"
            class="geodash-sidebar-chart"
            style="width:360px;margin:0 auto;"
          ></div>
          <div class="footnote" ng-bind-html="chart.description | md2html"></div>
        </div>
      </div>
      <div
        id="geodash-sidebar-left-layers"
        role="tabpanel"
        class="geodash-sidebar-pane tab-pane fade"
        style="padding: 24px 24px 50px 24px;">
        <div style="max-height: calc(100% - 310px);overflow-y:scroll;">
          <div ng-class="geodash-sidebar-layers-group">
            <div class="geodash-sidebar-layers-selected">
              <h5>Selected Layers</h5>
              <div
                ng-repeat="layer in visiblefeaturelayers track by $index"
                ng-init="layerIndex = $index"
                class="geodash-sidebar-item noselect"
                data-layer="{{ layer.id }}">
                <div class="geodash-sidebar-item-left">
                  <div class="geodash-sidebar-item-icon geodash-sidebar-item-visibility">
                     <a
                       class="geodash-sidebar-item-visibility-button geodash-intent"
                       data-intent-name="hideLayer"
                       data-intent-data="{&quot;layer&quot;:&quot;{{ layer.id }}&quot;}"
                       data-intent-ctrl="geodash-sidebar-left"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Click to hide this layer.">
                       <i class="fa fa-times"></i>
                     </a>
                  </div><!--
                  --><div class="geodash-sidebar-item-icon geodash-sidebar-item-more">
                    <a
                      class="geodash-intent"
                      data-intent-name="showModal"
                      data-intent-data="{{ html5data('showModal', 'geodash-modal-layer-more', 'featurelayer', layer) }}"
                      data-intent-ctrl="geodash-sidebar-left"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Click to learn more about this layer.">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </div>
                </div><!--
                --><div class="geodash-sidebar-item-right">
                  <div
                    class="geodash-sidebar-item-label"
                    style="width: 100%;">
                    <span ng-bind-html="layer.title | md2html"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            ng-class="geodash-sidebar-layers-group"
            ng-repeat="x in groups track by $index"
            ng-init="groupIndex = $index">
            <div ng-class="x.class">
              <h5 ng-bind-html="x.label"></h5>
              <div
                ng-repeat="layer in x.layers track by $index"
                ng-init="layerIndex = $index"
                ng-if="layer.id | inArray : state.view.featurelayers | not"
                class="geodash-sidebar-item noselect"
                data-layer="{{ layer.id }}">
                <div class="geodash-sidebar-item-left">
                  <div class="geodash-sidebar-item-icon geodash-sidebar-item-more">
                    <a
                      class="geodash-intent"
                      data-intent-name="toggleModal"
                      data-intent-data="{{ html5data('toggleModal', 'geodash-modal-layer-more', 'featurelayer', layer) }}"
                      data-intent-ctrl="geodash-sidebar-left"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Click to learn more about this layer.">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </div>
                </div><!--
                --><div class="geodash-sidebar-item-right">
                  <div
                    class="geodash-sidebar-item-label geodash-intent"
                    style="width: 100%; opacity: 0.6;"
                    data-intent-name="showLayer"
                    data-intent-data="{&quot;layer&quot;:&quot;{{ layer.id }}&quot;}"
                    data-intent-ctrl="geodash-sidebar-left">
                    <span ng-bind-html="layer.title | md2html"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="geodash-sidebar-layers-group geodash-sidebar-baselayers geodash-radio-group">
            <h5>Base Layers</h5>
            <div
              ng-repeat="layer in baselayers track by $index"
              ng-init="layerIndex = $index"
              class="geodash-sidebar-item noselect"
              data-layer="{{ layer.id }}">
              <div class="geodash-sidebar-item-left">
                <div class="geodash-sidebar-item-icon geodash-sidebar-item-more">
                  <a
                    class="geodash-intent"
                    data-intent-name="toggleModal"
                    data-intent-data="{{ html5data('toggleModal', 'geodash-modal-layer-more', 'baselayer', layer) }}"
                    data-intent-ctrl="geodash-sidebar-left"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Click to learn more about this layer.">
                    <i class="fa fa-info-circle"></i>
                  </a>
                </div><!--
                --><div class="geodash-sidebar-item-icon geodash-sidebar-item-visibility">
                     <a
                       ng-class=" layer.id == state.view.baselayer ? 'geodash-sidebar-item-visibility-button geodash-intent geodash-radio geodash-on' : 'geodash-sidebar-item-visibility-button geodash-intent geodash-radio'"
                       data-intent-name="switchBaseLayer"
                       data-intent-data="{&quot;layer&quot;:&quot;{{ layer.id }}&quot;}"
                       data-intent-class-on="geodash-on"
                       data-intent-class-off=""
                       data-intent-ctrl="geodash-sidebar-left">
                       <i class="fa fa-eye geodash-on"></i><i class="fa fa-eye-slash geodash-off"></i>
                     </a>
                </div><!--
                --><div class="geodash-sidebar-item-symbol" style="width: 10px;"></div>
              </div><!--
              --><div class="geodash-sidebar-item-right">
                <div
                  class="geodash-sidebar-item-label"
                  style="{{ layer.id == state.view.baselayer ? 'width: 100%;' : 'width: 100%;opacity: 0.4;' }}">
                  <span ng-bind-html="layer.title | md2html"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="geodash-sidebar-left-filters"
        role="tabpanel"
        class="geodash-sidebar-pane tab-pane fade">
        <div class="input-group">
          <span class="input-group-addon" id="layer-addon">Layer</span>
          <input
            id="layer-input"
            name="layer-input"
            type="text"
            class="typeahead form-control"
            style="height: auto;"
            placeholder="Layer to Filter"
            aria-describedby="layer-addon"
            data-placeholder="Layer to Filter"
            data-typeahead-datasets="FeatureLayersWithFilters"
            data-initial-value="{{ {'id': 'popatrisk', 'text': 'Population at Risk', 'obj': $scope.dashboard.featurelayers[0] } | json }}"
            data-target-tab-id="geodash-sidebar-left-filters-pane-###value###"
            data-search-output="id"
            data-template-empty="<div class=&quot;alert alert-danger empty-message&quot;>Unable to find layer</div>">
            <div
              class="input-group-addon btn btn-primary btn-show-options"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Show Options"
              ng-click="showOptions('#layer-input')">
              <i class="fa fa-chevron-down"></i>
            </div>
            <div
              class="input-group-addon btn btn-danger geodash-clear"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Clear Selection"
              data-target-input-id="layer-input">
              <i class="fa fa-times"></i>
            </div>
        </div>
        <hr>
        <div class="tab-content">
          <div
            ng-repeat="layer in featureLayersWithFilters track by $index"
            ng-init="layerIndex = $index"
            id="geodash-sidebar-left-filters-pane-{{ layer.id }}"
            ng-class="layer.id == 'popatrisk' ? 'tab-pane fade in active' : 'tab-pane fade'"
            role="tabpanel"
            data-layer="{{ layer.id }}">
            <div
              class="row"
              style="margin-bottom: 4px;"
              ng-repeat="filter in layer.filters track by $index">
              <div geodash-filter-radio ng-if="filter.type == 'radio'"></div>
              <div geodash-filter-checkbox ng-if="filter.type == 'checkbox'"></div>
              <div geodash-filter-slider ng-if="filter.type == 'slider'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
